
.content{
	// overflow: hidden;
	.page-top {
		background-color: #fff;
		z-index: 10;
		position: fixed;
		top: 0;
		width: 100%;
	}
}
.nav-logo{
	width: 228rpx;
	height: 36rpx;
	margin-top: 70rpx;
}
.index-shop{
	padding: 12rpx 25rpx;
	display: flex;
	&-lt{
		flex: 1;
		font-size: 26rpx;
		font-weight: 500;
		color: #333333;
		line-height: 34rpx;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&-rt{
		width: 26rpx;
		height: 32rpx;
		display: block;
		margin-right: 20rpx;
		margin-top: 4rpx;
	}
}
.index-page{
	background-color: #FAFAF9;
	padding: 0 25rpx;
	
	.index-main{
		background-color: #fff;
		&.first{
			margin-top: 23rpx;
			
		}
		
	}
	.left{
		border-right: 1rpx solid #EAEAEA;
		
		    height: 100%;
	}
	.bottom{
		border-bottom: 1rpx solid #EAEAEA;
	}
	.main-item{
		height: 100%;
		.img{
			width: 14vw;
			height: 14vw;
		}
		.title{
			font-size: 34rpx;
			font-family: PingFang SC;
			font-weight: bold;
			color: #333333;
			margin: 8rpx 0 6rpx 0;
			letter-spacing: 15rpx;
		}
		.tip{
			font-size: 26px;
			font-family: PingFang SC;
			color: #666666;
			letter-spacing: 6rpx;
		}
	}
}