@font-face {
  font-family: "m-icon"; /* Project id 2095744 */
  src: url('iconfont.ttf?t=1652436974450') format('truetype');
}

.m-icon {
  font-family: "m-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-more_buy:before {
  content: "\e6ce";
}

.m-navi_params:before {
  content: "\e6cf";
}

.m-navi_summary:before {
  content: "\e6d0";
}

.m-paper_info:before {
  content: "\e6d1";
}

.m-icon_advisor:before {
  content: "\e6cd";
}

.m-icon_advisor_black:before {
  content: "\e6ca";
}

.m-icon_advisor_white:before {
  content: "\e6cb";
}

.m-icon_advisor_call:before {
  content: "\e6cc";
}

.m-receipt:before {
  content: "\e6c9";
}

.m-clock:before {
  content: "\e6c8";
}

.m-step-beat:before {
  content: "\e6bb";
}

.m-minus2:before {
  content: "\e6b4";
}

.m-video-ready:before {
  content: "\e6b0";
}

.m-video-play:before {
  content: "\e6b1";
}

.m-underway:before {
  content: "\e6b2";
}

.m-active-end:before {
  content: "\e6b3";
}

.m-custom-submit:before {
  content: "\e6b5";
}

.m-step-coating:before {
  content: "\e6b6";
}

.m-custom-other:before {
  content: "\e6b7";
}

.m-step-color:before {
  content: "\e6b8";
}

.m-step-coat1:before {
  content: "\e6b9";
}

.m-step-emboss3:before {
  content: "\e6ba";
}

.m-step-size:before {
  content: "\e6bc";
}

.m-video-back:before {
  content: "\e6bd";
}

.m-video-num:before {
  content: "\e6be";
}

.m-step-emboss2:before {
  content: "\e6bf";
}

.m-step-gsm:before {
  content: "\e6c0";
}

.m-phone:before {
  content: "\e6c1";
}

.m-step-emboss1:before {
  content: "\e6c2";
}

.m-step-ele:before {
  content: "\e6c3";
}

.m-step-coat2:before {
  content: "\e6c4";
}

.m-step-coat3:before {
  content: "\e6c5";
}

.m-step-emboss:before {
  content: "\e6c6";
}

.m-step-making:before {
  content: "\e6c7";
}

.m-comment:before {
  content: "\e6a7";
}

.m-zan_num:before {
  content: "\e6a4";
}

.m-pdf_txt:before {
  content: "\e6a5";
}

.m-navi_slide:before {
  content: "\e6a6";
}

.m-navi_share:before {
  content: "\e6a8";
}

.m-find_supplier:before {
  content: "\e6a9";
}

.m-find_works:before {
  content: "\e6aa";
}

.m-paper_classroom:before {
  content: "\e6ab";
}

.m-paper_designer:before {
  content: "\e6ac";
}

.m-navicolor:before {
  content: "\e6ad";
}

.m-craft:before {
  content: "\e6ae";
}

.m-paper_artist:before {
  content: "\e6af";
}

.m-address-manager:before {
  content: "\e692";
}

.m-after-manager:before {
  content: "\e693";
}

.m-cancel:before {
  content: "\e694";
}

.m-collapse:before {
  content: "\e695";
}

.m-fans:before {
  content: "\e696";
}

.m-edit2:before {
  content: "\e697";
}

.m-chat:before {
  content: "\e698";
}

.m-del2:before {
  content: "\e699";
}

.m-company:before {
  content: "\e69a";
}

.m-plus:before {
  content: "\e69b";
}

.m-eyes:before {
  content: "\e69c";
}

.m-upload2:before {
  content: "\e69d";
}

.m-linklist:before {
  content: "\e69e";
}

.m-company-submit:before {
  content: "\e69f";
}

.m-manager:before {
  content: "\e6a0";
}

.m-register-submit:before {
  content: "\e6a1";
}

.m-register:before {
  content: "\e6a2";
}

.m-wallet:before {
  content: "\e6a3";
}

.m-next:before {
  content: "\e675";
}

.m-arrow-more:before {
  content: "\e691";
}

.m-minus:before {
  content: "\e690";
}

.m-download:before {
  content: "\e66e";
}

.m-collect:before {
  content: "\e661";
}

.m-confirm:before {
  content: "\e662";
}

.m-collect-store:before {
  content: "\e663";
}

.m-descending:before {
  content: "\e664";
}

.m-close:before {
  content: "\e666";
}

.m-home:before {
  content: "\e668";
}

.m-labs:before {
  content: "\e66a";
}

.m-open:before {
  content: "\e66b";
}

.m-mine:before {
  content: "\e66c";
}

.m-link:before {
  content: "\e66d";
}

.m-del:before {
  content: "\e66f";
}

.m-port4:before {
  content: "\e670";
}

.m-order:before {
  content: "\e671";
}

.m-port3:before {
  content: "\e672";
}

.m-prev:before {
  content: "\e673";
}

.m-increase:before {
  content: "\e674";
}

.m-customize:before {
  content: "\e676";
}

.m-mailer:before {
  content: "\e677";
}

.m-play:before {
  content: "\e678";
}

.m-search:before {
  content: "\e679";
}

.m-single:before {
  content: "\e67a";
}

.m-report:before {
  content: "\e67b";
}

.m-pay:before {
  content: "\e67c";
}

.m-note:before {
  content: "\e67d";
}

.m-instore:before {
  content: "\e67e";
}

.m-load:before {
  content: "\e67f";
}

.m-size:before {
  content: "\e680";
}

.m-sure:before {
  content: "\e681";
}

.m-selected:before {
  content: "\e682";
}

.m-ascending:before {
  content: "\e683";
}

.m-spec:before {
  content: "\e684";
}

.m-submit:before {
  content: "\e685";
}

.m-qrlogin:before {
  content: "\e686";
}

.m-wave:before {
  content: "\e687";
}

.m-calendar:before {
  content: "\e688";
}

.m-bottle:before {
  content: "\e689";
}

.m-address:before {
  content: "\e68a";
}

.m-step:before {
  content: "\e68b";
}

.m-refresh:before {
  content: "\e68c";
}

.m-settlement:before {
  content: "\e68d";
}

.m-cart:before {
  content: "\e68e";
}

.m-uoplad:before {
  content: "\e68f";
}

